<!doctype html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WX69C8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Visage | About</title>
    <meta name="description" content="Visage is a cost effective platform, 10 times cheaper than a recruitment agency.">
    <meta name="keywords" content="pricing, prices, price, plan, job, job credit, sourcing, source, junior, middle, senior">


    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=2" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=2" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=2" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json?v=2">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css(.) assets/css/vendor.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lib/rzslider.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lib/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css"/>
    <!-- endbuild -->
    <!-- build:css(.) assets/css/main.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="assets/js/vendor/html5shiv.js"></script>
    <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body id="visage" class="visage about" data-sticky-menu-mode="false">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WX69C8"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="config-module"></div>
<div id="visage-website" ng-controller="pricingController">
    <!-- Preloader -->
    <div class="preloader-mask">
        <div class="preloader">
            <div class="spin base_clr_brd">
                <div class="clip left">
                    <div class="circle"></div>
                </div><!--
                --><div class="gap">
                <div class="circle"></div>
            </div><!--
                --><div class="clip right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header>
        <nav class="navigation navigation-header">
            <div class="container">
                <div class="navigation-brand">
                    <div class="brand-logo">
                        <a href="index.html" class="logo"></a><a href="index.html"
                                                                 class="logo logo-alt"></a>
                    </div>
                </div>
                <button class="navigation-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navigation-navbar collapsed">
                    <ul class="navigation-bar navigation-bar-left">
                        <li><a href="/pricing.html">Pricing</a></li>
                        <li><a href="/recruiter.html">Become a recruiter</a></li>
                        <li><a href="/diversity.html">Diversity</a></li>
                        <li><a href="/product.html">Product</a></li>
                    </ul>
                    <ul class="navigation-bar navigation-bar-right">
                        <li><a href="https://app.visage.jobs/">Login</a></li>
                        <li class="featured"><a class="btn btn-sm btn-solid"
                                                href="https://app.visage.jobs/#/signup">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="company" class="section product-section align-center dark-text animated" data-animation="fadeInUp"
             data-duration="500">
        <div class="container">
            <div class="section-content row">
                <div class="col-sm-12">
                    <h1><strong>Our mission is to help great employers hire the best talent out there</strong></h1>
                    <!--<div class="team-quotes">-->
                        <!--<h2 class="team-quote">"Visage builds and manages your candidate pipeline with the best talent" - Product Manager</h2>-->

                        <!--<h2 class="team-quote" style="display: none;">"Visage understands your hiring needs and supports your goal to hire top talent" - Product Manager</h2>-->

                        <!--<h2 class="team-quote" style="display: none;">"Visage uses recruiters around the world to refer hundreds of top candidates to your pipeline" - Product Manager</h2>-->
                    <!--</div>-->

                </div>
                <div class="col-xs-12">
                    <div class="form-container">
                        <div class="animated"
                             ng-controller="startHiringController as vm"
                             data-animation="fadeInUp"
                             data-duartion="500"
                             data-delay="200">
                            <div class="form-inline">
                                <div class="form-group" ng-class="{ 'has-error': !vm.validEmail }">
                                    <input ng-class="{ 'error': !vm.validEmail }" type="email" placeholder="Your Email" id="hiringEmail" ng-model="vm.hiringEmail" ng-keyup="vm.onInputEnter($event)" required>
                                </div>
                                <a ng-click="vm.showContactForm()" class="btn btn-solid">Contact Us</a>
                                <p class="help-block text-danger" ng-show="!vm.validEmail">Please enter a valid email address.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-mission" class="section align-center dark-text animated" data-animation="fadeInUp"
             data-duration="500">
        <div class="container">
            <div class="section-content row">
                <div class="col-sm-12">

                    <p>70% of businesses can’t find the right talent. At Visage, we believe that talent is out there but it’s challenging to identify and engage with.</p>

                    <p>Our mission is to help great employers hire the best talent out there.</p>

                    <p>We create a strong and diverse candidate pipeline so that employers can focus on interviewing and assessing talent rather than searching for it.</p>

                    <p>We solve this through our crowd sourcing solution. Our community of international freelance recruiters have access to over 100 websites and millions of passive candidates. We leave no stone unturned.</p>

                    <p>We help you find the top talent out there and send only the qualified and committed candidates ready to interview.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="team" class="section product-section align-center dark-text animated" data-animation="fadeInUp"
             data-duration="500">
        <div class="container">
            <div class="section-header">
                <h2>The Team</h2>
            </div>
            <div class="section-content row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="assets/img/team/Joss.jpg" class="img-responsive">
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/joss-leufrancois-45a8391" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h1>Joss Leufrancois</h1>
                    <h2>Co-founder & CEO </h2>
                    <h2 class="previous-exp">Prev. Co-founder & COO @ Aldelia</h2>
                    <p>10 years in Recruitment. Co-founded Aldelia, a $50M recruitment business established in 9 countries (exited in 2014). Managed 75 recruiters.
                        Master Business Administration @ Kedge – 2005</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="assets/img/team/Barry.jpg" class="img-responsive">
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/barrypotier" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    
                    <h1>Barry Potier</h1>
                    <h2>Co-founder & CFO / COO </h2>
                    <h2 class="previous-exp">Prev. Global Ops Director @ Aldelia / Owner & Founder @ Avantgarde Associates / Co-Founder @ Resourcing Solutions</h2>
                    <p>Over 25 years in Recruitment. Worked with Joss at Aldelia to develop and deliver a world class recruitment service to the Oil & Gas industry. Certified Accountant (ACCA).</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="assets/img/team/Emmanuel.jpg" class="img-responsive">
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/emmanuelmarboeuf" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h1>Emmanuel Marboeuf</h1>
                    <h2>Co-founder & CTO </h2>
                    <h2 class="previous-exp">Prev. Lead Developer @ Thales</h2>
                    <p>One of the youngest Thales employee rated “Excellency" in less than 3 years. Designed and implemented a widely use front-end framework for building high end applications featuring 3D, data viz and cartography
                        University of Science - Master’s degree in Business Informatics - 2012.</p>
                </div>
                <div class="clearfix visible-sm visible-lg visible-md"></div>
                <div class=" col-lg-4  col-md-4 col-sm-offset-2 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="assets/img/team/Jeanita.jpg" class="img-responsive">
                    </div>
                 <div class="social-icon">
                        <a href="https://www.linkedin.com/in/jeanita-artz" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h1>Jeanita Artz</h1>
                    <h2>Product Marketing Manager</h2>
                    <h2 class="previous-exp">Prev. Operations Coordinator @ Astrolabs & Co-founder @ ClassDive DMCC</h2>
                    <p>Experience working with the Saudi Royal Family as Physiotherapist and PA. Transitioned to tech startups with experience in Customer Success and a passion for Product Management.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                        <img src="assets/img/team/Haley-new.jpg" class="img-responsive">
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/haley-reese-5a449712" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h1>Haley Reese </h1>
                    <h2>Senior Recruiter </h2>
                    <h2 class="previous-exp">Prev. Senior Internal Recruiter and Sales Trainer @ Frank Recruitment Group</h2>
                    <p>Managed full-desk recruitment for all Microsoft Dynamics GP clients & candidates in California and the Southwest region. Promoted to Senior Internal Recruiter and Sales Trainer for the San Francisco office.</p>
                </div>

            </div>
        </div>
    </section>

    <footer id="footer" class="footer light-text">
        <div class="container">
            <div class="footer-content row">
                <div class="col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h6 class="heading">Employers</h6>
                            <ul>
                                <li><a href="/pricing.html">Pricing</a></li>
                                <li><a href="/diversity.html">Diversity</a></li>
                                <li><a href="/renewable">Renewable</a></li>
                                <li><a href="/pricing.html#faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h6 class="heading">Recruiters</h6>
                            <ul>
                                <li><a href="/recruiter.html">Join</a></li>
                                <li><a href="/recruiter.html#faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h6 class="heading">Company</h6>
                            <ul>
                                <li><a href="/about.html">About</a></li>
                                <li><a href="/about.html#team">Team</a></li>
                                <li><a href="http://blog.visage.jobs">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 social-wrap col-xs-12">
                    <strong class="heading">Social Networks</strong>
                    <ul class="list-inline socials">
                        <li><a target="_blank" href="https://www.facebook.com/visagefinder"><span
                                class="icon icon-socialmedia-08"></span></a></li>
                        <li><a target="_blank"
                               href="https://www.linkedin.com/company/visage-dmcc"><span class="icon icon-socialmedia-05"></span></a>
                        </li>
                    </ul>

                    <div class="logo-wrapper text-center">
                        <img width="130"
                             height="60"
                             src="assets/img/visage/logo_horizontal_white.svg"
                             alt="logo"/>
                    </div>

                </div>
                <div class="col-sm-offset-1 col-sm-4 col-xs-12">
                    <strong class="heading ">Our Contacts</strong>
                    <ul class="list-unstyled">
                        <li>
                            <span class="icon icon-chat-messages-14"></span><a href="mailto:team@visage.jobs">team@visage.jobs</a>
                        </li>
                        <li><span class="icon icon-seo-icons-34"></span>RocketSpace, 180 Sansome St,
                            San Francisco, CA 94104
                        </li>
                        <li><span class="icon icon-seo-icons-34"></span>Astrolabs, Cluster R,
                            Jumeirah Lake Towers, Dubai, United Arab Emirates
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">visage.jobs 2016. All rights reserved.</div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="starterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="wufoo-q1gsxcg1150s39k">Fill out my <a href="https://techvisage.wufoo.com/forms/q1gsxcg1150s39k">online form</a>.</div>
                    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <span type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></span>
                <div class="modal-body"id="wufoo-z8kv0cc0ktfm9y">
                    <img src="/assets/img/loading.gif" height="50" width="50" alt="loading">
                    <br>
                    Fill out my <a href="https://techvisage.wufoo.com/forms/z8kv0cc0ktfm9y">online
                    form</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
</div>


<!-- build:js assets/js/vendor.js -->
<script defer type="text/javascript" src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.flexslider-min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.appear.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.plugin.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.countdown.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.waypoints.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/jquery.validate.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/toastr.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/angular.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/rzslider.min.js"></script>
<script defer type="text/javascript" src="assets/js/vendor/startuply.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/scripts.js -->
<script defer type="text/javascript" src="assets/js/custom.js"></script>
<script defer type="text/javascript" src="assets/js/config.js"></script>
<script defer type="text/javascript" src="assets/js/visageControllers.js"></script>
<script defer type="text/javascript" src="assets/js/bootstrap-website.js"></script>
<!-- endbuild -->
<script defer type="text/javascript">

</script>
</body>
</html>
