
#visage {
  padding-top: 60px;

  &.background-image-cover,.background-image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-color: white;
  }

  &.home-1,.home-1 {
    background-image: url('@{img-path}background/home-1.jpg');
  }
  &.recruiter-1,.recruiter-1 {
    background-image: url('@{img-path}background/recruiter-1.jpg');

  }

  &.home-2,.home-2 {
    background-image: url('@{img-path}background/home-2.jpg');
  }

  &.career-1,.career-1 {
    background-image: url("@{img-path}visage/career-cover.jpg")
  }


  h1, h2 {
    font-weight: 500;
  }

  .vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }



  .saying-title-light-bg {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .modal {
    .close {
      position: absolute;
      right: 6px;
      top: -6px;
      font-size: 50px;
      z-index: 1;
    }
  }

  .fa.highlight {
    color: @base-color;
  }

  .light {
    color: @text-light
  }

  .btn-white {
    background-color: white;
    color: @visage-green;
  }

  .navigation-header {
    .navigation-brand {
      margin-top: 10px;
      .brand-logo {
        .logo {
          height: 40px;
        }
      }
    }
    .navigation-navbar:not(.collapsed),
    .navigation-navbar.collapsing {
      background-color: @visage-light-grey;
      li:not(.featured) {
        a {
          color: @visage-green;
        }
      }
    }
  }

  .features-list-section {
    h2 {
      .highlight {
        font-size: 45px;
      }
    }
  }

  .section-bg {
    background: @section-bgcolor;
    h2, .heading, .sub-title, p {
      color: @section-color;
    }

    .highlight {
      color: @base-color;
    }
  }

  .section-white {
    background: @section-bgcolor-light;
    h2, .heading, .sub-title, p {
      color: @section-color-light;
    }

    .highlight {
      color: @header-color;
    }
  }

  .sticker {
    display: block;
    height: 90px;
    line-height: 90px;
    position: relative;
    text-align: center;
    width: 100px;
    .sticker-bottom.is-circle {
      background: inherit;
      border-radius: 1000px;
      display: block;
      height: 100px;
      width: 100px;
    }
    .sticker-bottom {
      font-size: 88px;
    }
  }
  .l-divider {
    z-index: 130;
    &.l-divider-white {
      background-color: white;
    }
    img {
      height: 40px;
      width:40px;
    }
    background-color: inherit;
    border-radius: 50px;
    margin: -60px auto 4px auto;
  }

  #hero + .section {
    margin-top: -40px;
  }
  #hero {
    h1, h2 {
      color: @header-color
    }
    h5 {
      color: @header-color;
      font-size: 22px;
      margin: 10px 10%;
      &:first-of-type {
        margin-bottom: 10px;
        margin-top: 30px;
      }
    }
    .btn {
      margin-top: 20px;
    }
  }

  #how {
    .section-content {
      article {
        .heading {
          font-size: 30px;
        }
        i {
          font-size: 80px;
          height: 95px;
        }
      }
    }
  }

  #clients {
    .logos {
      li {
        height: 150px;
        line-height: 150px;
        vertical-align: middle;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  #numbers {
    article {
      .heading {
        color: @section-color;
        line-height: 0px;
        .highlight {
          font-size: 3em;
        }
      }
      .heading.heading-label {
        font-size: 26px;
        line-height: 1;
        margin-top: -28px;
      }
    }
  }

  #benefits {
    .section-content {
      .vcenter {
        h3 {
          font-size: 2em;
          font-weight: bold;
        }
        .sub-title {
          font-size: 1.8em;
          line-height: 1.8em;
        }
      }
    }
    img {
      margin :auto;
    }
    .section-header {
      margin-bottom: 30px;
    }
  }

  #feedback {
    .section-content {
      .flexslider {
        .flex-viewport {
          color: black;
        }
      }
    }
  }

  #pay {
    .section-header {
      p {
        font-size: 22px;
      }
    }
  }

  #process {
    .section-header {
      margin-bottom: 10px;
    }
  }

  #not-convinced, #apply {
    background-color: @base-color;
  }

  #apply {
    .btn {
      margin-top: 50px;
    }
  }

  #product {
    .package-column {
      &:hover {
        background-color: @visage-green;
        .package-detail {
          .btn.btn-outline-color {
            color: white;
            border-color: white;
            background-color: @visage-green;
          }
        }
      }
      .package-price {
        color: @visage-green;
      }
      .package-detail {
        .btn-outline-color {
          color: @visage-green;
          border-color: @visage-green;
        }
      }
    }
  }

  #pricing-features {
    .heading {
      font-size: 22px;
    }
  }

  #process, #atVisage {
    article {
      .highlight {
        font-size: 60px;
      }
      .heading {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .footer {
    a, .list-inline li .icon {
      color: @footer-color
    }
  }

  .job-caroussel {
    margin-top: 50px;
    height: 100px;
    .carousel {
      .job-container {
        padding: 10px;

        .job {
          position: relative;
          background-color: white;
          padding: 20px;
          .job-avatar {
            font-size:30px;
          }
          .job-title {
            color: black;
            font-size: 16px;
            line-height: 16px;
            margin: 10px 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .job-details {
            //position: absolute;
            //bottom: 2px;
            .job-location, .job-industry {
              text-align: left;
              font-size: 12px;
              line-height: 12px;
              color: #78909C;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

        }
      }
    }
  }

  #testimonial {
    .list {
      & > div {
        &:hover {
          background-color: @visage-yellow;
          color: white;
        }
        min-height: 410px;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
        img {
          margin: 10px auto;
          width: 200px;
        }
        p {
          text-align: justify;
          width: 200px;
          margin: 0 auto;
        }
      }
    }
  }

  #calculator {
    margin-top: 100px;

    .nav-tabs {
      & > li {
        &.active {
          & > a {
            color: @visage-green;
            font-weight: bold;
          }
        }
      }
    }

    .tab-content {
      background-color: white;
    }

    .rzslider {
      margin-top: 60px;
      margin-bottom: 50px;

      .rz-pointer {
        background-color: @visage-green;

        &.rz-active:after {
          background-color: white;
        }
      }
    }

    .package-column {
      &:hover {
        background-color: @visage-green;
      }
      .package-price {
        color: @visage-green;
        .price {
          font-size: 5vw;
          .currency {
            font-size: 3vw;
            top: -24px;
          }
        }
      }
    }
  }

  &.career {

    #atVisage {
      .hidden-xs {
        > div {
          margin-bottom: 25px;
        }
      }
      .values {
        .col-xs-6 {
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
    }

  }
}

@media (max-width: @screen-sm) {
  #visage {
    #calculator {
      .package-column {
        .package-price {
          padding: 5px;
          .price {
            font-size: 44px;
            .currency {
              font-size: 30px;
              top: -18px;
            }
          }

        }
      }
    }
    #pricing-features {
      .heading {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.shadow {
  -webkit-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
  -moz-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
  box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
}

.carousel-control-container {
  width: 100%;
  height: 20px;
  .carousel-control-left, .carousel-control-right {
    font-size: 20px;
  }
  .carousel-control-left {
    margin-right: 5px;
  }
  .carousel-control-right {
    margin-left: 5px;
  }
}

@media (max-width: @screen-sm) {
  .carousel-inner {
    .active.left {
      left: -100%;
    }
    .next {
      left: 100%;
    }
    .prev {
      left: -100%;
    }
    .active > div {
      display: none;
    }
    .active > div:first-child {
      display: block;
    }
  }

}

@media (min-width: @screen-sm) and (max-width: 992px ) {
  .carousel-inner {
    .active.left {
      left: -50%;
    }
    .next {
      left: 50%;
    }
    .prev {
      left: -50%;
    }
    .active > div {
      display: none;
    }
    .active > div:first-child {
      display: block;
    }
    .active > div:first-child + div {
      display: block;
    }
  }

}

@media (min-width: @screen-sm ) {
  #visage {
    #benefits {
      .section-header {
        margin-bottom: 100px;
      }
    }
  }
}


@media (min-width: @screen-md ) {
  .carousel-inner {
    .active.left {
      left: -25%;
    }
    .next {
      left: 25%;
    }
    .prev {
      left: -25%;
    }
  }
}
