.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.color-landing-page .static-header h2,
.color-landing-page .static-header h3,
.color-landing-page .static-header h4,
.color-landing-page .static-header h5{
    color: green;
}
.color-landing-page .static-header {
    background-color: white;
}

.features-list-section h2 .highlight {
    font-size: 45px;
}

#home #hero + .section {
    margin-top: -40px;
}
#home #hero h5 {
    margin: 10px 10%;
    font-size: 22px;
}

#home #hero .btn {
    margin-top: 20px;
}

#home #hero h5:first-of-type {
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-bg {
    background: #4fa078;
}

.section-bg h2,
.section-bg .sub-title {
    color: #ffffff;
}

.section-bg .highlight {
    color: #f7d021;
}

.section-bg .sticker {
    display: block;
    height: 90px;
    line-height: 90px;
    position: relative;
    text-align: center;
    width: 100px;
}

.section-bg .l-divider {
    margin: -60px auto 4px auto;
    background-color: #4fa078;
    border-radius: 50px;
}

.section-bg .sticker .sticker-bottom.is-circle {
    background: #4fa078;
    border-radius: 1000px;
    display: block;
    height: 100px;
    width: 100px;
}
.section-bg .sticker .sticker-bottom {
    color: #ec4fa078eff1;
    font-size: 88px;
}
.section-bg .sticker {
    display: block;
    height: 90px;
    line-height: 90px;
    position: relative;
    text-align: center;
    width: 100px;
}

@media (max-width: 767px){

    #numbers article .heading .highlight {
        font-size: 2em !important;
        margin-bottom: 0px;
    }

    #numbers article .heading .heading-label {
        font-size: 1em !important;
    }
}

#numbers article .heading {
    line-height: 0px;
    color: #ffffff;
}

#numbers article .heading .highlight {
    font-size: 3em;
}

#numbers article .heading .heading-label {
    font-size: 3em;
}


#benefits .section-content .vcenter h3{
    font-size: 2em;
    font-weight: bold;
}

#benefits .section-content .vcenter .sub-title{
    font-size: 1.8em;
    line-height: 1.8em;
}


#feedback .section-content .flexslider .flex-viewport {
    color: black;
}

#pay .section-header p {
    font-size: 22px;
}


#process .section-header {
    margin-bottom: 10px;
}


#not-convinced {
    background-color: #f7d021;
}

