@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

/*! CSS Used from: https://techvisage.wufoo.com/stylesheets/public/forms/css/index.0481.css */
input.text {
    font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
    font-size: 100%;
    color: #333;
    margin: 0;
    padding: 2px 0;
}

input.text {
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url(https://techvisage.wufoo.com/images/fieldbg.gif) repeat-x top;
}

input.medium {
    width: 50%;
}

/*! CSS Used from: https://techvisage.wufoo.com/css/custom/5/theme.css */
.wufoo input.text {
    font-style: normal;
    font-weight: normal;
    color: #333333;
    font-size: 100% !important;
}

.wufoo input.text {
    font-family: inherit;
}

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=textarea] {
    border-color: #ffc107;
}

textarea {
    border-color: #ffc107;
}

::selection {
    color: #ffffff;
    background-color: #ffc107;
}

::-moz-selection {
    color: #ffffff;
    background-color: #ffc107;
}

input[type=text], input[type=email], input[type=tel], input[type=url] {
    -webkit-transition: color 0.2s ease, background 0.3s ease;
    -moz-transition: color 0.2s ease, background 0.3s ease;
    -o-transition: color 0.2s ease, background 0.3s ease;
    transition: color 0.2s ease, background 0.3s ease;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #8d8d8d;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-bottom-color: #d7d7d7;
    outline: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    color: #000000;
}

input[type=tel],input[type=email],input[type=url],input[type=text]:not(textarea) {
    height: 46px;
    padding: 0 10px 0 20px;
    line-height: 44px;
}

.wufoo input.text {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.wufoo textarea {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

form.wufoo[action^="https://techvisage.wufoo.com/embed/z8kv0cc0ktfm9y"] input.text {
    background-color: #fff;
}

/*! CSS Used from: https://techvisage.wufoo.com/stylesheets/public/forms/css/index.0481.css */
form li span {
    margin: 0 .3em 0 0;
    padding: 0;
    float: left;
    color: #444;
}

label span {
    display: inline !important;
    float: none !important;
}

label.desc {
    font-size: 95%;
    font-weight: bold;
    color: #222;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
    white-space: normal;
    width: 100%;
}

form span.req {
    display: inline;
    float: none;
    color: red !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/*! CSS Used from: https://techvisage.wufoo.com/css/custom/5/theme.css */
.wufoo label.desc {
    font-size: 95% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #444444;
}

.wufoo li span {
    font-family: inherit;
    color: #444444;
}

.wufoo li.focused label.desc, .wufoo li.focused span {
    color: #000000;
}

/*! CSS Used from: https://s3-us-west-2.amazonaws.com/visagepublicresources/wufoo-form-style.css */
span, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.wufoo label.desc {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }

    h3 {
        orphans: 3;
        widows: 3;
    }

    h3 {
        page-break-after: avoid;
    }
}

h3 {
    color: inherit;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin: 20px 0 15px;
    font-weight: 300;
    display: block;
    line-height: 1.1;
}

/*! CSS Used from: https://visage.jobs/assets/css/main.5125e305.css */
::selection {
    background-color: #ffc107;
}

@media (max-width: 767px) {
    h3 {
        font-size: 23.8px;
    }
}

#visage #hero h3 {
    text-align: left;
}

@media screen and (min-width: 768px) {
    #visage #hero h3 {
        margin-left: 30px;
    }
}

#visage #hero h3 {
    color: #606060;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.2em;
}

#visage #hero .signup-side h3 {
    letter-spacing: 0;
    text-align: center;
    margin-left: 0;
}

/*! CSS Used from: https://visage.jobs/assets/css/vendor.5684d88f.css */
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

input[type="submit"]:not(.default) {
    background-clip: padding-box;
    position: relative;
    display: inline-block;
    min-width: 144px;
    max-width: 100%;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    transition: color 0.2s ease 0s, border 0.2s ease 0s, background 0.2s ease 0s, box-shadow 0.2s ease 0s;
    margin: 0px 7px;
    padding: 15px 25px;
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
    background: rgb(255, 193, 7);
    cursor:pointer;
}

.wufoo li.focused {
    background-color: transparent !important;
}