<div class="job-caroussel">
    <div class="col-xs-12">
        <div class="carousel slide"  id="myCarousel" data-type="multi">
            <div class="carousel-inner">
                <div class="item clearfix" ng-repeat="job in jobs" ng-class="{true:'active'}[$index == 1]">
                    <div class="col-md-3 col-sm-6 col-xs-12 job-container">
                        <div class="job shadow">
                            <p class="job-title">{{ job.title }}</p>
                            <p><img src="assets/img/visage/nasco.png" alt="{{ job.title }}"></p>
                            <div class="job-details">
                                <p class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}</p>
                                <p class="job-industry"><i class="fa fa-industry" aria-hidden="true"></i> {{ job.industry }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-control-container clearfix">
                <a class="carousel-control-left" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="carousel-control-right" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>